*, *::after, *::before {
  box-sizing: border-box;
}
body {
  background: lightblue;
  font-family: "varela round", sans-serif;
}
/* NAV BAR */
h1,
h2 {
  font-family: "varela round", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #252525;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
}

.logo a {
  font-size: 44px;
  font-family: "varela round", sans-serif;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}
@media screen and (max-width: 370px) {
  .logo a {
    font-size: 30px;
    font-family: "varela round", sans-serif;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }
}

.menu-icon {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  display: none;
}

#menu-toggle {
  display: none;
}

.nav-links {
  display: flex;
  justify-content: space-between;
}
.nav-links a:hover {
  color: rgba(241, 109, 107, 0.7);
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  padding-right: 50px;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 100%;
}

@media screen and (max-width: 840px) {
  .nav-links {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 70px;
    height: 100px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 28px;
  }

  .menu-icon {
    display: block;
  }

  #menu-toggle:checked ~ .nav-links {
    transform: translateX(0%);
    background-color: #333;
  }

  #menu-toggle:checked ~ .nav-links li {
    opacity: 1;
  }

  #menu-toggle:checked ~ .nav-links a {
    color: #fff;
  }
  #menu-toggle ~ .nav-links {
    transform: translateY(0%);
    background-color: transparent;
  }

  #menu-toggle ~ .nav-links li {
    opacity: 0;
  }
}
/* RULES POPUP*/
/* not my code ".modal"*/ 
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 700px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.small-screen-rules-box {
  padding: 10px 15px;
  
  }
@media only screen and (min-width: 840px){
  .big-screen-rules-box{
    height: 700px;
    width: 700px;
    background: url(game.PNG) no-repeat center center;
  }
  .small-screen-rules-box {
  display: none;
  }
}
@media only screen and (max-width: 839px){
  .big-screen-rules-box{
    display: none;
  }
}
/* not my code "#overlay"*/ 
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* MAIN GAME */
.main-game {
  width: 100%;
 height: 1100px;
 background-color: lightblue;
 
 font-family: "varela round", sans-serif;
 font-size: 40px;
 text-align: center;
 padding-top: 100px;
 
 border: 1px solid black;
}

.choice {
  width: 170px;
  height: 50px;
  background-color: gray;
  margin-right: 20px;
  display: inline-block;
  margin-top: 50px;
  transition: all 0.4s ease;
  
  
}
.choice:hover {
  background-color: rgb(87, 85, 85);
  cursor: pointer;
}

.new-game p {
  width: 270px;
  height: 50px;
  background-color: gray;
  display: inline-block;
  font-size: 35px;
  color: black;
  font-weight: bold;
}
.new-game p:hover {
  background-color: rgb(87, 85, 85);
  cursor: pointer;
}

.x-won p {
  width: 570px;
  height: 50px;
  background-color: gray;
  display: inline-block;
  margin-top: 100px;
  
}
.score {
  width: 770px;
  height: 150px;
  background-color: gray;
  display: inline-block;
  margin-top: 70px;
  padding: 45px 20px;
  color: white;
  position: relative;
}

.badge {
    background-color: lightblue;
    color: black;
    font-size: 30px;
    border: 3px solid gray;
}

#user-label {
  position: absolute;
  top: 55px;
  left: -25px;
}
#opponent-label {
  position: absolute;
  top: 55px;
  right: -55px;
}
#user-score, #opponent-score{
  font-size: 50px;
}


@media screen and (max-width: 839px) {
  .main-game {
    width: 100%;
   height: 100%;
   background-color: lightblue;
   
   font-family: "varela round", sans-serif;
   font-size: 40px;
   text-align: center;
   padding-top: 100px;
   /* remove when done*/
   border: 1px solid black;
  }
  .score {
    width: 100%;
    height: 250px;
    background-color: gray;
    display: inline-block;
    margin-top: 370px;
    
  }

}

@media screen and (max-width: 839px) {
  .score {
    width: 100%;
    height: 250px;
    background-color: gray;
    display: inline-block;
    margin-top: 170px;
    
  }
}

/* LEADERBOARD*/ 

.leaderboard {
  height: 800px;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.text-inside-leaderboard {
  height: 800px;
  width: 300px;
  background-color: gray;
  display: inline-block;
  text-align: center;
  border: 1px solid lightblue;
  
}
.leaderboard-list {
  padding-top: 10px;
  line-height: 2.5em;
  font-size: 25px;
  float: left;
  
}